*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header */
.encabezado{
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #616161 ;
}
.encabezado img{
    border-radius: 15px;
    transition: 0.5s ease-in-out;
    width: 130px;
    height: 130px;
    object-fit: contain;
}
.encabezado img:hover{
    transform: scale(1.1) rotate(2deg);
    filter: drop-shadow(3px 3px 6px #962f33);
}
.menu{
    display: flex;
    justify-content: space-between;
}
.extra{
    margin: auto 10px;
    text-decoration: none;
    color: whitesmoke;
    padding: 8px 8px 8px 8px;
    border-radius: 20px;
    font-size: 20px;
    transition: 0.1s ease-in-out;
    background: #f49500;
    transition: 0.3s ease-in-out;
}
.extra:hover{
    border-bottom: 5px solid #e46820;
    transform: scale(1.1);
    filter: drop-shadow(3px 3px 6px #e46820);
    color: #f1291c;
}
.contactos{
    margin: auto 10px;
    text-decoration: none;
    color: rgb(30, 30, 30);
    font-style: oblique;
    padding: 5px;
    background: #eebb46;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    font-size: 20px;
}
.contactos:hover{
    transform: scale(0.9) ;
    filter: drop-shadow(6px 6px 8px #ffaa52);
    border-bottom: 5px solid #ffaa52;
    color: whitesmoke;
}
/* main */
.principal{
    background: #f5f5f5;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    background-color: #F59E0B;
    max-width: 30%;
    padding: 35px 0px;
    border: 2px solid black;
    border-radius: 10px;
    filter: drop-shadow(3px 3px 6px black);
    transition: 0.7s ease-in-out;
}
.formulario:hover{
    transform: scale(0.95);
    filter: drop-shadow(5px 5px 10px orangered);
}
.formulario img{
    border-radius: 25px;
    width: 500px;
    height: 225px;
    margin-bottom: 25px;
    filter: drop-shadow(1px 1px 2px black);
}
.inputs{
    display: flex;
    flex-direction: column;
}
.inputs label{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin: 5px auto;
    text-shadow: 1px 1px 1px black;
}
.inputs input{
    background:#ba1205;
    color: #f5f5f5;
    text-shadow: 1px 1px 2px black;
    border-radius: 15px;
    padding: 0 75px;
    filter: drop-shadow(2px 2px 4px black);
}
.inputs textarea{
    background:#ba1205;
    color: #f5f5f5;
    text-shadow: 1px 1px 2px black;
    border-radius: 15px;
    padding: 0 75px;
    filter: drop-shadow(2px 2px 4px black); 
    margin-bottom: 20px;
}
.inputs button{
    margin-left: 125px;
    max-width: 25%;
    filter: drop-shadow(2px 2px 4px black);
    transition: 0.7s ease-in-out;
    text-shadow: 1px 1px 2px black;
}
.inputs button:hover{
    transform: scale(1.1);
}
/* footer */
.pie{
    background: #616161;
    display: flex;
    justify-content: space-evenly;
}
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.info img{
    height: 250px;
    width: 200px;
    transition: 0.4s ease-in-out;
}
.info img:hover{
    transform: scale(0.9) rotate(2deg);
    filter: drop-shadow(3px 3px 6px #962f33);
}
.redes img{
    margin-top: 10px;
    width: 70px;
    height: 70px;
    transition: 0.5s ease-in-out;
}
.redes img:hover{
    transform: scale(0.9);
    filter: drop-shadow(2px 2px 8px white);
}
.logos{
    display: flex;
    justify-content: space-evenly;
}
.mapa iframe{
    height: 200px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #f5e15e;
    transition: 0.5s;
    margin-top: 10px;
}
.mapa iframe:hover{
    transform: scale(0.9);
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav a{
    text-decoration: none;
    color: #ebebeb;
    text-shadow: 4px 4px 6px black;
    font-size: 25px;
    margin: 12.5% 0;
    transition: 0.1s ease-in-out;
    padding-bottom: 5px;
}
.nav a:hover{
    transform: scale(0.9);
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, #c86d14, #962f33)1;
}