*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.encabezado{
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #616161 ;
}
.encabezado img{
    border-radius: 15px;
    transition: 0.5s ease-in-out;
    width: 130px;
    height: 130px;
    object-fit: contain;
}
.encabezado img:hover{
    transform: scale(1.1) rotate(2deg);
    filter: drop-shadow(3px 3px 6px #962f33);
}
.menu{
    display: flex;
    justify-content: space-between;
}
.extra{
    margin: auto 10px;
    text-decoration: none;
    color: whitesmoke;
    padding: 8px 8px 8px 8px;
    border-radius: 20px;
    font-size: 20px;
    transition: 0.1s ease-in-out;
    background: #f49500;
    transition: 0.3s ease-in-out;
}
.extra:hover{
    border-bottom: 5px solid #e46820;
    transform: scale(1.1);
    filter: drop-shadow(3px 3px 6px #e46820);
    color: #f1291c;
}
.contactos{
    margin: auto 10px;
    text-decoration: none;
    color: rgb(30, 30, 30);
    font-style: oblique;
    padding: 5px;
    background: #eebb46;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    font-size: 20px;
}
.contactos:hover{
    transform: scale(0.9) ;
    filter: drop-shadow(6px 6px 8px #ffaa52);
    border-bottom: 5px solid #ffaa52;
    color: whitesmoke;
}
/* Main */
.principal{
    background: #f5f5f5;
    display: grid;
    grid-template-areas: 
    "img1 img2 img3 img5"
    "img1 Paleta Paleta img5"
    "img1 img4 img4 img5"
    ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 20px;
    padding: 0 10%;
    height: 1000px;
    padding-top: 30px;
}
.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
    object-fit: fill !important;
    width: 350px !important;
}
.img3{
    grid-area: img3;
}
.Paleta{
    grid-area: Paleta;
    background: #414141;
    border-radius: 15px;
    filter: drop-shadow(4px 4px 8px black);
}
.Paleta h3{
    text-align: center;
    font-size: 50px;
    font-style: oblique;
    margin-top: 50px;
    color: #f5e15e;
    transition: 0.2s ease-in-out;
    margin-left: 160px;
    max-width: 55%;
}
.Paleta h3:hover{
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, #c86d14, #962f33)1;
}
.Listas{
    display: flex;
    justify-content: space-around;
}
.Listas ul{
    list-style: none;
    margin-top: 50px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 25px;
    transition: 0.5s ease-in-out;
}
.Listas ul:hover{
    filter: drop-shadow(2px 2px 4px whitesmoke);
    transform: scale(0.9);
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.principal img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 5px black);
    transition: 0.5s ease-in-out;
}
.principal img:hover{
    transform: scale(0.9);
}
/* footer */
.pie{
    background: #616161;
    display: flex;
    justify-content: space-evenly;
}
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.info img{
    height: 250px;
    width: 200px;
    transition: 0.4s ease-in-out;
}
.info img:hover{
    transform: scale(0.9) rotate(2deg);
    filter: drop-shadow(3px 3px 6px #962f33);
}
.redes img{
    margin-top: 10px;
    width: 70px;
    height: 70px;
    transition: 0.5s ease-in-out;
}
.redes img:hover{
    transform: scale(0.9);
    filter: drop-shadow(2px 2px 8px white);
}
.logos{
    display: flex;
    justify-content: space-evenly;
}
.mapa iframe{
    height: 200px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #f5e15e;
    transition: 0.5s;
    margin-top: 10px;
}
.mapa iframe:hover{
    transform: scale(0.9);
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav a{
    text-decoration: none;
    color: #ebebeb;
    text-shadow: 4px 4px 6px black;
    font-size: 25px;
    margin: 12.5% 0;
    transition: 0.1s ease-in-out;
    padding-bottom: 5px;
}
.nav a:hover{
    transform: scale(0.9);
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, #c86d14, #962f33)1;
}